<h1 class="welcome-banner">SONGEROODLE</h1>
<!-- TODO: Greet the current user! -->
<% if logged_in? %>
  <h1> <%= link_to current_user.name, current_user %> </h1>
<% end %>

<h2> Feed </h2>
<% current_user.feed.each do |song| %>
  <h3><%=song.song_name%></h3>
  <h4><%=song.created_at.strftime('%D')%></h4>
  <iframe src="https://embed.spotify.com/?uri=<%=song.spotify_uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe></br>
<% end %>
